@import './../../styles/common.scss';

header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 40px 140px 40px 60px;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    align-items: baseline;
    z-index: 20;
    .logo {
        font-family: 'geared_slab';
        @include adaptiveFont(30, 25);
        color: $orange;
    }
    & nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 20px;
        .link {
            color: white;
            //text-transform: uppercase;
            @include adaptiveFont(16, 14);
            font-weight: 600;
            opacity: 0.5;
            transition: 0.3s;
            &:hover {
                opacity: 1;
                color: $orange;
            }
            &.active {
                opacity: 1;
            }
        }
    }
}

.aside {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #252525;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    width: 100px;
    height: 100dvh;
    z-index: 100;
    @include mediaMaxWidth(768){
        display: none;
    }
    .burger_field{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
        cursor: pointer;
        &.active{
            & span {
                background-color: $orange;
                opacity: 1;
            }
        }
        &:hover{
           // background: rgba($color: $orange, $alpha: 0.1);
            & span{
                background-color: $orange;
               opacity: 1;
           }
        }
    }
    .burger {
        position: relative;
        width: 50px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        & span {
            width: 100%;
            height: 5px;
            background-color: white;
            opacity: 0.5;
            border-radius: 20px;
            transition: 0.3s;
        }
        &:hover{
            & span{
                 background-color: $orange;
                opacity: 1;
            }
        }
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    & .icon_cart,
    .icon_profile,
    .icon_search {
        &::before{
            font-size: 25px;
            font-weight: 400;
            color: white;
            opacity: 0.5;
            cursor: pointer;
            transition: 0.3s;
        }
        &.active::before{
            color: $orange;
            opacity: 1;
        }
        &:hover:before{
            color: $orange;
            opacity: 1;
        }
    }
    .logo_aside{
        display: block;
        width: 100%;
        height: auto;
    }
}
.side_menu{
    position: fixed;
    top: 0;
    right: 100px;
    height: 100dvh;
    width: 370px;
    background: #131313;
    padding: 20px;
    z-index: 30;
    color: white;
    transform: translateX(100%);
    transition: 0.5s;
    &.active{
        transform: translateX(0);
    }
    .side_menu_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        text-align: center;
        animation: appear 1s;
    }
    .close_side{
        position: absolute;
        top: 30px;
        right: 30px;
        color: $orange;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
    }
    @keyframes appear {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    @include mediaMaxWidth(768) {
        display: none;
    }
}
/*----------Catalog menu-----------*/
.catalog_menu{
    height: 100%;
    width: 100%;
    margin-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    h2{
        font-size: 28px;
        color: $orange;
    }
    .catalog_menu_tabs{
        flex: 1;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        & a{
            position: relative;
            display: block;
            color: #fff;
            font-size: 18px;
            transition: 0.3s;
            &::before{
                position: absolute;
                bottom: 0;
                left: 0;
                content: '';
                width: 0;
                height: 2px;
                background-color: $orange;
                transition: 0.3s;
            }
            &.active{
                color: $orange;
                &::before{
                    width: 100%;
                }
            }
            &:hover{
                color: $orange;
                &:before{
                    width: 100%;
                }
            }
        }
    }
}

/*----------Profile_menu-----------*/   
.profile_menu_tabs{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-self: start;
    margin-top: 60px;
    .profile_tab {
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s; 
        &.active{
            color: orange;
        }   
    }
}
.profile_menu_content{
    margin-top: 30px;
    display: none;
    align-items: start;
    width: 100%;
    height: 100%;
   //background: #fff;
    //animation: appear 1s;
    &.active{
        display: flex;
        opacity: 1;
        animation: appear 1s forwards; 
    }
}

.login_block{
    width: 100%;
    //animation: appear 1s;
}
.register_block{
    width: 100%;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .form_label{
        font-size: 14px;
        margin-bottom: 5px;
    }
    .form_input{
        width: 90%;
        padding: 5px;
        background: transparent;
        color: #fff;
        border-bottom: 1px solid orange;
        margin-bottom: 30px;
    }
    & button{
        font-size: 14px;
    }
    .regBtn{
        padding: 10px 50px;
    }
}