@import './../../styles/common.scss';

/*----------Catalog----------*/
.catalog{
    padding: 150px 120px 20px 20px;
    @media screen and (max-width: 768px) {
        padding: 150px 20px; 
    }
    .main_catalog_title {
        color: white;
        @include adaptiveFont(50, 25);
        font-weight: 800;
        text-align: center;
    }
    .catalog_title {
        color: white;
        @include adaptiveFont(40, 25);
        font-weight: 800;
    }
    .catalog_navigations {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        & a {
            position: relative;
            display: block;
            color: white;
            transition: 0.3s;
            @include adaptiveFont(16, 12);
            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background: orange;
                transition: 0.3s;
            }
            &:hover {
                color: orange;
                &:before {
                    width: 100%;
                }
            }
            &.active {
                color: orange;
                &:before {
                    width: 100%;
                }
            }
        }
    }
    .not-products {
        width: 100%;
        display: flex;
        min-height: 50dvh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        padding: 40px 0;
        @include adaptiveFont(30, 20);
        & p {
            max-width: 500px;
        }
    }
    .product_list{
        margin-top: 40px;
        min-height: 100dvh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        grid-auto-rows: auto;
        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
        grid-auto-rows: auto;
        column-gap: 5px;
        row-gap: 30px;
        color: white;
        .catalog_card {
            position: relative;
            max-width: 600px;
            height: auto;
            display: flex;
            flex-direction: column;
            .labels {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                position: absolute;
                bottom: 20px;
                right: 20px;
                z-index: 5;
            }
            .discount {
                width: 50px;
                height: 50px;
                border: 3px solid orange;
                //border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                @include adaptiveFont(16, 12);
                //background: orange;
                color: white;
                font-weight: 800;
                transition: 0.5s;
                @include mediaMinWidth(993) {
                    &:hover {
                        background: orange;
                    }
                }
            }
            .new_label {
                width: 50px;
                height: 50px;
                border: 3px solid #131313;
                //border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                @include adaptiveFont(16, 12);
                //background: orange;
                color: white;
                font-weight: 800;
                transition: 0.5s;
                @include mediaMinWidth(993) {
                    &:hover {
                        background: #131313;
                    }
                }
                
            }
            .image_link {
                display: block;
                position: relative;
                overflow: hidden;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    transition: 0.5s;
                    z-index: 2;
                }
                @include mediaMinWidth(993) {
                    &:hover {
                        & img {
                            transform: scale(1.05);
                        }
                    }
                    &:hover::before {
                        background: rgba($color: #131313, $alpha: 0.7);
                    }
                }
            }
            & img {
                position: relative;
                width: 100%;
                height: auto;
                transition: 0.5s;
                //clip-path: polygon(2% 0%, 98% 0%, 100% 2%, 100% 98%, 98% 100%, 2% 100%, 0% 98%, 0% 2%);
            }
            .card_description {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                flex: 1;
                button {
                    margin-top: auto;
                }
                .card_title {
                    color: white;
                    @include adaptiveFont(18, 12);
                    transition: 0.3s;
                    &:hover {
                        color: orange;
                    }
                }
                .card_old_price {
                    @include adaptiveFont(14, 12);
                    color: grey;
                    text-decoration: line-through; 
                }
                .card_price {
                    @include adaptiveFont(16, 14);
                }
                .shades {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    & a {
                        display: block;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        transition: 0.3s;
                        @include mediaMinWidth(993) {
                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
}
.product_detail_block {
    .product_container {
        margin: 0 auto;
        width: 100%;
        max-width: 1450px;
        padding: 140px 120px 20px 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        @include mediaMaxWidth(992) {
            flex-direction: column;
        }
        @include mediaMaxWidth(768) {
            padding: 140px 20px 20px 20px;
        }
        .product_description {
            display: flex;
            flex-direction: column;
            padding: 0px 40px;
            @include mediaMaxWidth(992) {
                padding: 0;
            }
            @include mediaMaxWidth(992) {
                //align-items: center;
                gap: 10px;
            }
            gap: 30px;
            width: 100%;
            flex: 2;
            .product_cat {
                color: $orange;
                @include adaptiveFont(14, 12);
                border-bottom: 2px solid $orange;
            }
            & h2 {
                display: flex;
                align-items: center;
                gap: 10px;
                @include adaptiveFont(30, 20);
                color: white;
                .color {
                    display: block;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
            }
            & p {
                color: white;
                @include adaptiveFont(14, 12);
                word-break: break-all
            }
            & h3 {
                color: white;
                @include adaptiveFont(14, 12);
            }
            .shades {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 10px;
                & a {
                    display: block;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    transition: 0.3s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            .old_price {
                @include adaptiveFont(18, 14);
                color: grey;
                text-decoration: line-through; 
            }
            .price {
                @include adaptiveFont(20, 16);
                color: white;
                font-weight: 800;
            }
        }
        .product_detail_splider {
            position: relative;
            width: 100%;
            flex: 3;
            height: auto;
            .splide__slide {
                width: 100%;
                cursor: pointer;
                & img {
                    width: 100%;
                }
            }
            .splide__arrow {
                display: block;
                width: 40px;
                height: 40px;
                z-index: 2;
                background: transparent;
                &.splide__arrow--prev {
                    
                }
            }
            .splide__pagination__page {
                background: #ffffff8a;
                border-radius: 0;
                width: 25px;
                height: 4px;
                opacity: 1;
                margin: 0 5px;
                &.is-active {
                    background-color: $orange;
                    transform: none;
                }
            }
        }
    }

    .views_list {
        width: 100%;
        @include adaptiveProperty(padding-top, 100, 50);
        @include mediaMinWidth(769) {
            padding-right: 100px;
        }
        .pre_title {
            @include adaptiveFont(16, 14);
            padding-left: 50px;
            margin-bottom: 10px;
            @include mediaMaxWidth(768) {
                padding-left: 10px;
            }
        }
        .views_splider {
            position: relative;
            width: 100%;
            height: auto;
            .splide__slide {
                position: relative;
                @include adaptiveProperty(width, 200, 150);
                & img {
                    width: 100%;
                }
                .link{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: 0.4s;
                    background-color: rgba($color: #000000, $alpha: 0.0);
                    @include mediaMinWidth(992) {
                        &:hover {
                            background-color: rgba($color: #000000, $alpha: 0.7);
                        }
                    }
                }
            }
            .splide__arrow {
                display: block;
                width: 40px;
                height: 40px;
                z-index: 2;
                background: transparent;
                color: rgba($color: #fff, $alpha: 0.8); 
                &.splide__arrow--prev {
                    svg {
                        color: #fff;
                    }
                }
            }
            .splide__pagination__page {
                background: orange;
            }
        }
    }
    .similar_block {
        width: 100%;
        @include adaptiveProperty(padding-top, 100, 50);
        @include mediaMinWidth(769) {
            padding-right: 100px;
        }
        .pre_title {
            @include adaptiveFont(20, 18);
            padding-left: 50px;
            margin-bottom: 10px;
            @include mediaMaxWidth(768) {
                padding-left: 10px;
            }
        }
        .similar_splider {
            position: relative;
            width: 100%;
            height: auto;
            .splide__slide {
                @include adaptiveProperty(width, 400, 250);
                & img {
                    width: 100%;
                }
                .title {
                    @include adaptiveFont(14, 12);
                    margin: 0 auto;
                    width: max-content;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    color: #fff;
                    transition: 0.3s;
                    &:hover {
                        color: $orange;
                    }
                }
            }
            .splide__arrow {
                display: block;
                width: 40px;
                height: 40px;
                z-index: 2;
                background: transparent;
                color: rgba($color: #fff, $alpha: 0.8); 
                &.splide__arrow--prev {
                    svg {
                        color: #fff;
                    }
                }
            }
            .splide__pagination__page {
                background: orange;
            }
        }
    }
    .image_popup {
        position: fixed;
        top:-100%;
        left:0;
        width: 100%;
        height: 100dvh;
        background-color: rgba($color: #000000, $alpha: 0.7);
        z-index: 200;
        display: flex;
        padding: 0 50px; 
        transition: 0.8s;
        .cross {
            position: absolute;
            top: 30px;
            right: 30px;
            font-size: 30px;
            color: $orange;
            z-index: 10;
            cursor: pointer;
        }
        &.open {
            transform: translateY(100%);
        }   
        .main_splider {
            min-width: 300px;
        }
        .vertical_splider{
            height: 100%;
            padding-top: 50px;
            .splide__slide {
                position: relative;
                width: 120px;
                & img {
                    width: 100%;
                }
                &.is-active {
                    border: 2px solid $orange;
                }
            }
        }
        .main_splider{
            width: 100%;
            height: 100%;
            .splide__slide {
                position: relative;
                width: 100%;
                height: 100dvh;
                display: block;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 30%;
                }
                &.is-active {
                    border: 0;
                }
            }
        }
    }
}